*.log
.DS_Store
.env
.env.ngrok
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/kedaiklik-61a56-firebase-adminsdk-fbsvc-202fd081fa.json
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
